body {
  margin: 2rem 3rem;
  font-family: "Tagesschrift", sans-serif;
  background: #f7f9fc;
  color: #333;
}

table {
  border: none;
  font-family: "Tagesschrift", sans-serif;
}

img {
  border-radius: 4px;
}

h2 {
  color: #007acc;
  margin-top: 2rem;
  border-bottom: 2px solid #007acc;
  padding-bottom: 0.3rem;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 1.2rem;
}

footer {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: #888;
}

samp {
  font-family: "Tagesschrift", sans-serif;
  font-size: 16px;
}
.container {
  display: flex;
  align-items: flex-start;
  gap: 800px; /* расстояние между таблицей и меню */
}

#menu {
  padding-top: 20px;
}

#menu ul {
  list-style: none;
  padding: 0;
}

#menu li {
  margin-bottom: 10px;
}

#menu a {
  text-decoration: none;
  color: #0050aa;
  font-weight: bold;
}

#menu a:hover {
  text-decoration: underline;
}

.current-reading {
  margin-top: 40px; /* увеличивай или уменьшай число по вкусу */
}
